<nav>
    <ul>
        <% if(!isAuthenticated) { %>
            <li><a href="/login/">Log IN</a></li>
        <% } else { %>
            <li><a href="/logout/">Log OUT</a></li>
        <% } %>
    </ul>
</nav>