<html lang="hr">
<head>
  <meta charset="UTF-8">
  <title>QR kod listića</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <h1>Uspješno ste uplatili listić </h1>
  <p><b>Broj kola:</b> <%= ticket.broj_kola %></p>
  <p><b>Uplaćeni brojevi:</b> <%= ticket.uplaceni_brojevi %></p>
  <p><b>Datum uplate:</b> <%= ticket.datum_uplate %></p>



  <br><br>
  <a href="/">
    <button>Natrag na početnu</button> 
  </a>
</body>
</html>