<html lang="hr">
  <head>
    <meta charset="UTF-8">
    <title>QR kod listića</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">

  </head>
  <body class="qrinfo">

    <h1>Podaci o Vašem uplaćenom listiću </h1>
    <p><b>Broj kola:</b> <%= ticket.broj_kola %></p>
    <p><b>Uplaćeni brojevi:</b> <%= ticket.uplaceni_brojevi %></p>
    <p><b>Datum uplate:</b> <%= ticket.datum_uplate %></p>

    <% if (kolo) { %>
    <% if (kolo.aktivno) { %>
      <p><b>Status:</b> Kolo još traje.</p>
    <% } else { %>
      <p><b>Status:</b> Završeno</p>
      <p><b>Izvučeni brojevi:</b> <%= kolo.izvuceni_brojevi %></p>
    <% } %>
    <% } else { %>
      <p><b>Status:</b> Nepoznato kolo.</p>
    <% } %>


    <a href="/">
      <button>Natrag na početnu</button> 
    </a>
  </body>
</html>