<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">


</head>
<body>
    <form action="/uplata" method="POST">
        <h1>Uplatite novi listić</h1>
        <div class="form-group">
            <label for="document">Broj osobne iskaznice ili putovnice:</label>
            <input type="text" id="document" name="document" maxlength="20" required>
        </div>

        <div class="form-group">
            <label for="numbers">Unesi 6 do 10 brojeva (od 1 do 45) odvojene zarezima:</label>
            <input type="text" id="numbers" name="numbers" placeholder="npr. 3, 8, 15, 22, 36, 44" required>
        </div>

        <% if (typeof errors !== "undefined" && errors.length > 0) { %>
            <div class="error-box">
                <ul>
                    <% errors.forEach(err => { %>
                        <li><%= err %></li>
                    <% }) %>
                </ul>
            </div>
        <% } %>

        <button type="submit">Uplati listić</button>
    </form>

    <% if (qrUrl) { %>
        <div class="qr-section">
            <h3>Tvoj QR kod za listić:</h3>
            <img src="<%= qrUrl %>" alt="QR kod" style="width:200px; height:200px;">
        </div>
    <% } %>

    <a href="/">
        <button>Vrati se na pocetnu stranicu</button>
    </a>

</body>
</html>